@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    min-width: 0;
    width: 100%;
    min-height: 100%;
  }

  body {
    overflow-x: hidden;
  }
}
